html, body {
    margin:0;
		background-color: hsl(180, 20%, 20%);
  }

canvas {
	background-color: hsl(180, 30%, 80%);
	cursor: url('cursor.png'), auto;
}

.container {
	width: 96%;
	height: 490px;
	margin: 1% 2% 0;
	overflow: hidden; 
}

.options {
	background-color: hsl(180, 20%, 20%);
	margin: 0 1.4%;
	position: fixed;
	right: 0.5%;
	left: 0.5%;
	bottom: 0;
}

#colors {
	position: relative;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	background-color: hsl(180, 20%, 20%);
}

#thickness {
	width: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0
}

#thickness div {
	height: 40px;
	width: 40px;
	/* Big horizontal margin required so that the clicking areas would never overlap */
	margin: 0 18px; 
	border-radius: 50%;
	border: solid transparent 3px;
}


#thickness .thickness-2 {
	height: 25px;
	width: 25px;
}

#thickness .thickness-3 {
	height: 15px;
	width: 15px;
}

#thickness .thickness-4 {
	height: 5px;
	width: 5px;
}


#thickness div:hover {
	border: 3px solid white;
	cursor: pointer;
}

/* Clicking area same for every thickness */

#thickness div:before {
	content: "";
	display: block;
	position: relative;
	height: 40px;
	width: 40px;
	/*border: 1px solid red;*/
}

#thickness .thickness-1:before {
	bottom: 1px;
	left: 0px;
}

#thickness .thickness-2:before {
	bottom: 8px;
	right: 8px;
}

#thickness .thickness-3:before {
	bottom: 13px;
	right: 13px;
}

#thickness .thickness-4:before {
bottom: 18px;
right: 18px;
}


/* Need separate after element for styling because can't set before element 
behind the actual element or it won't work when clicked */
#thickness div:after {
	content: "";
	display: block;
	position: relative;
	height: 40px;
	width: 40px;
	z-index: -1;
	border-radius: 50%;
	background-color: hsl(180, 20%, 18%);
}


#thickness .thickness-1:after {
	bottom: 41px;
	left: 0px;
}

#thickness .thickness-2:after {
	bottom: 48px;
	right: 8px;
}

#thickness .thickness-3:after {
	bottom: 53px;
	right: 13px;
}

#thickness .thickness-4:after {
bottom: 58px;
right: 18px;
}


#colors div {
	/*flex: 1;*/
	height: 70px;
	width: 110px;
	border: solid transparent 3px;
	margin: 4px 3px;
}

#colors div:hover {
	border: 3px solid white;
	cursor: pointer;
}

#colors div:first-child {
	margin-left: 0
}

#colors div:last-child {
	margin-right: 0;
}

.eraser {
	background-color: hsl(180, 30%, 80%);
}

.color-0 {
	background-color: black;
}

.color-1 {
	background-color: hsl(0, 85%, 50%);
}

.color-2 {
	background-color: hsl(45, 85%, 50%);
}

.color-3 {
	background-color: hsl(90, 85%, 50%);
}

.color-4 {
	background-color: hsl(135, 85%, 50%);
}

.color-5 {
	background-color: hsl(180, 85%, 50%);
}

.color-6 {
	background-color: hsl(225, 85%, 50%);
}

.color-7 {
	background-color: hsl(270, 85%, 50%);
}

.color-8 {
	background-color: hsl(315, 85%, 50%);
}