html {
  font-size: 10px;
  background: url("drums.jpg") center 75% no-repeat fixed #464646;
  background-size: cover;
}

/*@media only screen and (max-width: 767px) {
  Should load a smaller bg image here for mobile devices...
  html {
    background-image: url(smallerBackgroundImage.jpg);
  }
}*/

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .25rem solid #bc8517;
  border-radius: 10rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 3rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  height: 5rem;
  text-align: center;
  color: white;
  background: rgba(186, 140, 28, 0.4);
  /*text-shadow: 0 0 .5rem black;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 8rem;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
